{% extends "bootstrap/base.html" %}

{% block title %}Let's Rock{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='star.gif') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='star.gif') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
